
VITE_GRAPHQL_URI="https://your.api.domain.com/graphql"
VITE_GRAPHQL_WS_URL="wss://your.api.domain.com/graphql"
VITE_FILE_UPLOAD_URI="https://your.api.domain.com/api/file/upload"
VITE_PDFJS_WORKER_SRC="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/4.0.379/pdf.worker.mjs"
