
.toolbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 42px;
	margin: 12px 8px 0 8px;
}

.toolbar ul.toolbar-menu {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

.toolbar ul.toolbar-menu li.toolbar-action a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: rgb(26, 95, 186);
}

.toolbar ul.toolbar-menu li.toolbar-action a svg {
	height: 2rem;
	fill: white;
}

.toolbar ul.toolbar-menu li.toolbar-action a:hover {
	background-color: rgb(236, 135, 13);
}
